.projects {
  background-color: var(--primary-color);
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
}

.show-more-container {
  text-align: center;
  margin-top: 2rem;
}
